*
!/bin
!/bin/**
!/env
!/env/**
!/images
!/images/**
!/lib
!/lib/**
!/mcp
!/mcp/**
!/template
!/template/**
!/.gitignore
!/compose.yaml
!/compose.dev.yaml
!/compose.dev-linux.yaml
!/compose.dev-ssh.yaml
!/compose.healthcheck.yaml
!/compose.override.yaml
!/compose.versions.yaml
!/docker-compose.yml
!/docker-compose.dev.yml
!/docker-compose.dev-linux.yml
!/docker-compose.dev-ssh.yml
!/Makefile
